
*{
    padding: 0;
    margin: 0;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1ecea;
}

.encabezado{
    background-color: #3a251c ;
    height: 100px;
    width: 100%;
    display: grid;
    place-items:center ;
}

.encabezado h1{
    color: #f1ecea;
    font-size: 50px;
    
}

.center{
    display:grid;
    place-items: center;
}

#contenedor{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.contcaf{
    margin: 1em;
    text-align: justify;
    color: #f1ecea; 
    font-family: 'Trebuchet MS', sans-serif; 
}

.cafeimg {
    height: 100px;    
    width: 100px;    
    object-fit: cover;  
    border-radius: 5px; 
    border: 1px solid #9e8559;
}

.cultivoimg {
    height: 100px;    
    width: 100px;    
    object-fit: cover;  
    border-radius: 5px; 
    border: 1px solid #9e8559;
}

.menu{
    height:80px ;
    display: grid;
    place-items: center;
    background-color:#b46424;
}

.fueraSeccion{
    background-color: #b58c7c ;
}

.seccion{
    background-color: #362f2f ;
    margin: 0.5em;   
    
}

a{
    text-decoration: none;
    color: #f1ecea;
    align-items: center;
}


li{
    text-decoration: none;
    list-style: none;
}

p{
    font-size: 1.1em;
}

.grid2{
    margin: 2em;
    gap: 1em;  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;    
}

.lista-aside{
    font-size: 30px;
    display: flex;
    gap: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 64% 35%;
    gap: 0;
}

.menu{
    height:60px ;
    display: grid;
    place-items: center;
    background-color:#b46424;
}

.pie{
    background-color:  #3a251c ;
    height: 60px;
    display: grid;
    place-items: center;
}

.pie h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #9e8559;
}

strong{
    color: #9e8559;
}

a:hover{
    color: #9e8559;
}

.ullist{
    text-align: center;
}

.li{
    margin: 10px;
}

.hola{
    list-style: none;
}