
*{
    padding: 0;
    margin: 0;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #efeaea;
}

.encabezado{
    background-color: #80131c ;
    height: 100px;
    width: 100%;
    display: grid;
    place-items:center ;
}

.encabezado h1{
    color: #f1ecea;
    font-size: 50px;
    
}

.center{
    display:grid;
    place-items: center;
}

#contenedor{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.contcaf{
    margin: 1em;
    text-align: justify;
    color: #f1ecea; 
    font-family: 'Trebuchet MS', sans-serif; 
}

.franimg {
    height: 10rem;    
    width: 10rem;    
    object-fit: cover;  
    border-radius: 3px; 
}

.p{
    align-items: left;
    font-size: 10px;
    display: grid;
}

.fireimg {
    height: 10rem;    
    width: 10rem;    
    object-fit: cover;  
    border-radius: 5px;
}

.menu{
    height:80px ;
    display: grid;
    place-items: center;
    background-color:#b11623;
}

.fueraSeccion{
    background-color: #ffffff ;
}

.seccion{
    background-color: #001952 ;
    margin: 0.5em;   
    
}

a{
    text-decoration: none;
    color: #f1ecea;
    align-items: center;
}


li{
    text-decoration: none;
    list-style: none;
}

p{
    align-items: center;
    font-size: 1.1em;
}

.grid2{
    margin: 2em;
    gap: 1em;  
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;    
}

.lista-aside{
    font-size: 30px;
    display: flex;
    gap: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 64% 35%;
    gap: 0;
}

.menu{
    height:60px ;
    display: grid;
    place-items: center;
    background-color: #0b4481;
}

.pie{
    background-color:  #898e91 ;
    height: 60px;
    display: grid;
    place-items: center;
}

.pie h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

h3{
    text-align: center;
}

strong{
    color: #f0e064;
}

a:hover{
    color: #000000;
}

.ullist{
    text-align: center;
}

.li{
    margin: 10px;
}